* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-family: "Instrument Sans", sans-serif;
    overflow-x: hidden
}

header {
    width: 90vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 50px;
    align-items: center;
    z-index: 3;
    padding-top: 2rem;

    & h1 {
        font-family: "Iceberg", sans-serif;
        font-size: 4rem;
    }

    & .navbar {

        & ul {
            display: grid;
            grid-template-columns: repeat(3, 200px);
            /* PADDING PARA AFASTAR MENU DA DIREITA*/
            padding-right: 4rem;

            & li a {
                color: #fff;
                font-weight: bold;
                transition: 0.3s;
            }

            & li a:hover {
                color: #beff1b;
                font-size: 1.1em;
            }
        }
    }
}

.hero-section {
    background-image: radial-gradient(#7f3d9e, #6d00d9);
    height: 100vh;
    position: relative;

    & .list {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .car-image {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 70%;

                & img {
                    width: 100%;
                    transform: rotate(-25deg);
                }
            }

            & .content {
                position: absolute;
                right: 70px;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                gap: 20px;

                & .car-information {
                    font-weight: bold;
                }

                & h2 {
                    font-family: "Iceberg", sans-serif;
                    font-size: 6rem;
                    line-height: 1em;
                }

                & .description {
                    color: #ececec;
                    font-size: 16px;
                    text-align: right;
                    max-width: 450px;
                }

                & .btn {
                    border-radius: 10px;
                    height: 40px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid #beff1b;
                    background-color: #beff1b;
                    color: #000;
                    cursor: pointer;
                    font-weight: bold;
                }
            }
        }

        &::before {
            content: '';
            position: absolute;
            height: 200px;
            width: 98%;
            top: 50%;
            border-top: 1px solid #fff;
            transform: translatex(1px);
        }

    }


    & .arrows {
        width: 70vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25px);
        display: flex;
        justify-content: space-between;

        /* ROTACIONA O BOTÃO "SETA" PARA QUE APONTE PARA O OUTRO LADO*/
        & button:nth-child(1) {
            transform: scale(-1);
        }

        & button {
            top: 60%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            & img {
                width: 30px;
                margin-top: 4px;
                cursor: pointer;
            }
        }

        & button:hover {
            transition: 0.2s ease-in-out;
            background-color: #beff1b;
        }
    }
}

& .indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;

    & .number {
        font-size: 5em;
        font-family: "Iceberg", sans-serif;
    }

    & ul {
        display: flex;
        gap: 10px;

        & li {
            width: 50px;
            height: 10px;
            background-color: #fff;
            transition: 0.5s;
        }

        & .active {
            background-color: #beff1b;
            height: 20px;
        }
    }
}

.hero-section {

    & .list {
        --calculation: 1;

        & .item {
            transform: translateX(calc(100vw * var(--calculation)));
            transition: 0.5s;
            opacity: 0;

            & .car-image {

                & img {
                    transform: rotate(0);
                    transition: 0.5s;
                    transition-delay: 0.4s;
                }

            }

            & .content {

                & .car-information,
                h2,
                .description,
                .btn {
                    transform: translateX(calc(200px) * var(--calculation));
                    opacity: 0;
                    transition: 0.7s;
                    transition-delay: 0.4s;
                }

                & h2 {
                    transition-delay: 0.5s;
                }

                & .description {
                    transition-delay: 0.6s;
                }

                & .btn {
                    transition-delay: 0.7s;
                }
            }
        }

        & .active {
            transform: translateX(0);
            transition: 0.5s;
            opacity: 1;

            & .car-image {

                & img {
                    transform: rotate(-25deg);
                }

            }

            & .content {

                & .car-information,
                h2,
                .description,
                .btn {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}

/* DIV DE SCROLL INFINITO*/
.infinite-scroll {
    padding: 40px auto;
    height: 230px;
    width: 100%;
    /*border: 5px solid red; /*apenas para saber até onde vai a div*/
    display: flex;
    background-color: #BEFF1B;

    & .infinite-scroll::-webkit-scrollbar {
        display: none;
        /*esconde a barra de rolagem*/
    }

    & .group {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6em;
        animation: spin 5s infinite linear;
        padding-right: 1em;

        & .card img {
            font-family: "Iceberg", sans-serif;
            flex: 0 0 5em;
            width: 3em;
            height: 3em;
            margin-right: 6em;
            /*background: cornflowerblue;*/
            font-size: 4.8rem;
            border-radius: 0.2em;
            text-align: center;
            align-content: center;
            width: 40%;
            height: 40%;
        }
    }
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}

/* 2º SEÇÃO - CARROS*/
.cars-section {
    padding: 3rem;
    background-image: radial-gradient(#7f3d9e, #6d00d9);
    /*border: 5px solid red;*/
    
    & .porsche {
        /*border: 5px solid blue;*/
        display: flex;
        width: 80%;
        justify-content: left;
        align-items: left;
        padding: 2rem;
        margin: auto;
        margin-bottom: 40px;
        
    }

    & .ferrari {
        /*border: 5px solid green;*/
        display: flex;
        width: 80%;
        justify-content: end;
        align-items: end;
        padding: 2rem;
        margin: auto;
        margin-bottom: 40px;
    }

    & .lamborghini {
        /*border: 5px solid yellow;*/
        display: flex;
        width: 80%;
        justify-content: left;
        align-items: left;
        padding: 2rem;
        margin: auto;
    }

    & .car-content-ferrari {
        background-color: #beff1b;
        border-radius: 10px;
        padding: 2rem;
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;

        & h3 {
            color: #000;
            font-family: "Iceberg", sans-serif;
            font-size: 2rem;
            margin-top: 1rem;
        }

        & iframe {
            border-radius: 10px;
            width: 500px;
        }

        p {
            text-align: justify;
            color: #000;
            margin-top: 1rem;
            width: 500px;
        }
    }

    & .car-content {
        background-color: #beff1b;
        border-radius: 10px;
        padding: 2rem;
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;

        & h3 {
            color: #000;
            font-family: "Iceberg", sans-serif;
            font-size: 2rem;
            margin-top: 1rem;
        }

        & iframe {
            border-radius: 10px;
            width: 500px;
        }

        p {
            text-align: justify;
            color: #000;
            margin-top: 1rem;
            width: 500px;
        }
    }
}