* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-family: "Instrument Sans", sans-serif;
}

header {
    width: 90vw;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 50px;
    align-items: center;
    z-index: 3;

    & h1 {
        font-family: "Iceberg", sans-serif;
        font-size: 3rem;
    }

    & .navbar {

        & ul {
            display: grid;
            grid-template-columns: repeat(3, 100px);
            /* PADDING PARA AFASTAR MENU DA DIREITA*/
            padding-right: 4rem;
        }
    }
}

.hero-section {
    background-image: radial-gradient(#7f3d9e, #6d00d9);
    height: 100vh;
    position: relative;

    & .list {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .car-image {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 70%;

                & img {
                    width: 100%;
                    transform: rotate(-20deg);
            }
        }
    }
}

& .arrows {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
    z-index: 2;

    & button img {
        width: 100px;
    }
}