* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    color: #fff;
    font-size: 16px;
}

header {
    width: 90;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 50px;
    align-items: center;
    z-index: 3;

    & h1 {
        font-family: "Iceberg", sans-serif;
        font-size: 3rem;
    }

    & .navbar {

        & ul {
            display: grid;
            grid-template-columns: repeat(3, 100px);
            padding-right: 4rem;
        }

        & li a {
            text-decoration: none;
            font-family: "Instrument Sans", sans-serif;
            color: white;
            font-size: 1rem;
            font-weight: medium;
        }
    }
}

.hero-section {
    background-image: radial-gradient(#7f3d9e, #6d00d9);
    height: 100vh;
    position: relative;

    & .list {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .car-image {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    & .arrows {
        
        & button {

            & img {
                width: 100px;
                height: 100px;
            }
        }
    }
}
