* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-family: "Instrument Sans", sans-serif;
}

header {
    width: 90vw;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 1fr 600px;
    gap: 50px;
    align-items: center;
    z-index: 3;
    padding-top: 2rem;

    & h1 {
        font-family: "Iceberg", sans-serif;
        font-size: 3rem;
    }

    & .navbar {

        & ul {
            display: grid;
            grid-template-columns: repeat(3, 200px);
            /* PADDING PARA AFASTAR MENU DA DIREITA*/
            padding-right: 4rem;

            & li a {
                color: #fff;
                font-weight: bold;
                text-transform: uppercase;
                transition: 0.3s;
            }
        }
    }
}

.hero-section {
    background-image: radial-gradient(#7f3d9e, #6d00d9);
    height: 100vh;
    position: relative;

    & .list {
        width: 70vw;
        height: 100%;
        margin: auto;
        position: relative;

        & .item {
            position: absolute;
            inset: 0;

            & .car-image {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 70%;

                & img {
                    width: 100%;
                    transform: rotate(-20deg);
                }
            }

            & .content {
                position: absolute;
                right: 100px;
                width: 70%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: end;
                gap: 20px;

                & .car-information {
                    font-weight: bold;
                }

                & h2 {
                    font-size: 8em;
                    line-height: 1em;
                }

                & .description {
                    color: #ececec;
                    font-size: 18px;
                    text-align: right;
                    max-width: 600px;
                }

                & .btn {
                    border-radius: 10px;
                    height: 40px;
                    width: 120px;
                    text-transform: uppercase;
                    border: 2px solid #beff1b;
                    background-color: #beff1b;
                    color: #000;
                    cursor: pointer;
                }
            }
        }
    }

    & .arrows {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 2rem;
        z-index: 2;

        & button img {
            width: 100px;
        }
    }

    & .indicators {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 15px;

        & .number {
            font-size: 5em;
        }

        & ul {
            display: flex;
            gap: 10px;

            & li {
                width: 50px;
                height: 5px;
                background-color: #beff1b;
                
            }
        }
    }
}